{% extends 'base.html.twig' %}

{% block title %}New ReservationTaxi{% endblock %}

{% block body %}
    <h1>Create new ReservationTaxi</h1>

    {{ include('Admin/reservation_taxi/_form.html.twig') }}

    <a href="{{ path('app_reservation_taxi_index') }}">back to list</a>
{% endblock %}
